<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">
    <%- include('partials/navbar', {page: '/about'}) %>

  <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
              <div class="max-w-md">
                  <h1 class="text-5xl font-bold">About</h1>
                 <p class="py-6">Step into the enchanting world of the Lego Collection! Immerse yourself in a realm where creativity knows no bounds and every brick ignites boundless imagination. Here at our haven of innovation, we celebrate the enchanting allure of LEGO, where building sets transcend mere toys to become portals to realms of boundless fantasy and ingenuity.</p>
                  
    
              </div>
          </div>
      </div>
  </div>

  <br>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-8">
          <div class="p-4">
              <img src="/myImage.png" alt = "my image " class="w-full rounded-lg shadow-md">
          </div>

          <div class="p-4">
              <h2 class="text-xl font-bold mb-4">information</h2>
              <p class="text-gray-400">"Welcome to my website of LEGO. This is my 4th assignment for the corese WEB322. The creator of this webstite is Srujal Patel."</p>
              <br>
              
          </div>
      </div>
  </div>
</body>

</html>
